{
	"presets": {
	  "env": {
	    "production": {
	      "presets": [
	        [
	          "env",{
	            "modules": false,
	            "targets": ["ie >= 10"]
	          }
	        ]
	      ],
	      "comments": false,
	      "plugins": [
	      	"transform-runtime",
	      	["transform-object-rest-spread", { "useBuiltIns": true }]
	      ]
	    },
	    "dev": {
	      "presets": [
	        [
	          "env",{"targets": {"node": "current"}}
	        ]
	      ],
	      "plugins": [
	      	"istanbul",
	      	["transform-object-rest-spread", { "useBuiltIns": true }]
	      ]
	    }
	  }
	}
}