{
	"presets": {
	  "env": {
	    "production": {
	      "presets": [
	        [
	          "env",{
	            "modules": false,
	            "targets": ["ie >= 10"]
	          }
	        ]
	      ],
	      "comments": false,
	      "plugins": ["transform-runtime"]
	    },
	    "test": {
	      "presets": [
	        [
	          "env",{"targets": {"node": "current"}}
	        ]
	      ],
	      "plugins": ["istanbul"]
	    }
	  }
	}
}